@model Vat.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrganizationId" class="control-label"></label>
                <select asp-for="OrganizationId" class ="form-control" asp-items="ViewBag.OrganizationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrganizationId" class="control-label"></label>
                <input asp-for="CustomerOrganizationId" class="form-control" />
                <span asp-validation-for="CustomerOrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountCode" class="control-label"></label>
                <input asp-for="AccountCode" class="form-control" />
                <span asp-validation-for="AccountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bin" class="control-label"></label>
                <input asp-for="Bin" class="form-control" />
                <span asp-validation-for="Bin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nidno" class="control-label"></label>
                <input asp-for="Nidno" class="form-control" />
                <span asp-validation-for="Nidno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tinno" class="control-label"></label>
                <input asp-for="Tinno" class="form-control" />
                <span asp-validation-for="Tinno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsVds" class="control-label"></label>
                <input asp-for="IsVds" class="form-control" />
                <span asp-validation-for="IsVds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vdsrate" class="control-label"></label>
                <input asp-for="Vdsrate" class="form-control" />
                <span asp-validation-for="Vdsrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsTds" class="control-label"></label>
                <input asp-for="IsTds" class="form-control" />
                <span asp-validation-for="IsTds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tdsrate" class="control-label"></label>
                <input asp-for="Tdsrate" class="form-control" />
                <span asp-validation-for="Tdsrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRegisteredUnderActNinetyFour" class="control-label"></label>
                <input asp-for="IsRegisteredUnderActNinetyFour" class="form-control" />
                <span asp-validation-for="IsRegisteredUnderActNinetyFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumberUnderActNinetyFour" class="control-label"></label>
                <input asp-for="RegistrationNumberUnderActNinetyFour" class="form-control" />
                <span asp-validation-for="RegistrationNumberUnderActNinetyFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomsAndVatcommissionarateId" class="control-label"></label>
                <select asp-for="CustomsAndVatcommissionarateId" class ="form-control" asp-items="ViewBag.CustomsAndVatcommissionarateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceVatCode" class="control-label"></label>
                <input asp-for="ServiceVatCode" class="form-control" />
                <span asp-validation-for="ServiceVatCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistrictOrCityId" class="control-label"></label>
                <input asp-for="DistrictOrCityId" class="form-control" />
                <span asp-validation-for="DistrictOrCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionOrStateId" class="control-label"></label>
                <input asp-for="DivisionOrStateId" class="form-control" />
                <span asp-validation-for="DivisionOrStateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BusinessNatureId" class="control-label"></label>
                <select asp-for="BusinessNatureId" class ="form-control" asp-items="ViewBag.BusinessNatureId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BusinessCategoryId" class="control-label"></label>
                <select asp-for="BusinessCategoryId" class ="form-control" asp-items="ViewBag.BusinessCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BusinessCategoryDescription" class="control-label"></label>
                <input asp-for="BusinessCategoryDescription" class="form-control" />
                <span asp-validation-for="BusinessCategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsForeignCustomer" /> @Html.DisplayNameFor(model => model.IsForeignCustomer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFullExportOriented" /> @Html.DisplayNameFor(model => model.IsFullExportOriented)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson" class="control-label"></label>
                <input asp-for="ContactPerson" class="form-control" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonDesignation" class="control-label"></label>
                <input asp-for="ContactPersonDesignation" class="form-control" />
                <span asp-validation-for="ContactPersonDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonMobile" class="control-label"></label>
                <input asp-for="ContactPersonMobile" class="form-control" />
                <span asp-validation-for="ContactPersonMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonEmailAddress" class="control-label"></label>
                <input asp-for="ContactPersonEmailAddress" class="form-control" />
                <span asp-validation-for="ContactPersonEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCountryId" class="control-label"></label>
                <input asp-for="DeliveryCountryId" class="form-control" />
                <span asp-validation-for="DeliveryCountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDistrictOrCityId" class="control-label"></label>
                <input asp-for="DeliveryDistrictOrCityId" class="form-control" />
                <span asp-validation-for="DeliveryDistrictOrCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDivisionOrStateId" class="control-label"></label>
                <input asp-for="DeliveryDivisionOrStateId" class="form-control" />
                <span asp-validation-for="DeliveryDivisionOrStateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryContactPerson" class="control-label"></label>
                <input asp-for="DeliveryContactPerson" class="form-control" />
                <span asp-validation-for="DeliveryContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryContactPersonDesignation" class="control-label"></label>
                <input asp-for="DeliveryContactPersonDesignation" class="form-control" />
                <span asp-validation-for="DeliveryContactPersonDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryContactPersonMobile" class="control-label"></label>
                <input asp-for="DeliveryContactPersonMobile" class="form-control" />
                <span asp-validation-for="DeliveryContactPersonMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryContactPersonEmailAddress" class="control-label"></label>
                <input asp-for="DeliveryContactPersonEmailAddress" class="form-control" />
                <span asp-validation-for="DeliveryContactPersonEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountNo" class="control-label"></label>
                <input asp-for="BankAccountNo" class="form-control" />
                <span asp-validation-for="BankAccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankRoutingCode" class="control-label"></label>
                <input asp-for="BankRoutingCode" class="form-control" />
                <span asp-validation-for="BankRoutingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <select asp-for="BankId" class ="form-control" asp-items="ViewBag.BankId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BankBranchName" class="control-label"></label>
                <input asp-for="BankBranchName" class="form-control" />
                <span asp-validation-for="BankBranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankBranchCountryId" class="control-label"></label>
                <select asp-for="BankBranchCountryId" class ="form-control" asp-items="ViewBag.BankBranchCountryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BankBranchDistrictOrCityId" class="control-label"></label>
                <select asp-for="BankBranchDistrictOrCityId" class ="form-control" asp-items="ViewBag.BankBranchDistrictOrCityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BankBranchAddress" class="control-label"></label>
                <input asp-for="BankBranchAddress" class="form-control" />
                <span asp-validation-for="BankBranchAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceKey" class="control-label"></label>
                <input asp-for="ReferenceKey" class="form-control" />
                <span asp-validation-for="ReferenceKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTime" class="control-label"></label>
                <input asp-for="ModifiedTime" class="form-control" />
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiTransactionId" class="control-label"></label>
                <input asp-for="ApiTransactionId" class="form-control" />
                <span asp-validation-for="ApiTransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcelDataUploadId" class="control-label"></label>
                <input asp-for="ExcelDataUploadId" class="form-control" />
                <span asp-validation-for="ExcelDataUploadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
